FLASK_ENV=development
SECRET_KEY=change-this-in-production

# Mail (optionnel)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=ton_email@gmail.com
MAIL_PASSWORD=ton_app_password

# Production (Render/PostgreSQL)
# DATABASE_URL=postgresql://user:password@host/dbname
